.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/

}

.header {
  grid-area: h;
  background-color: #66daef;
}

.header img{
  width: 100px;
}


.nav {
  grid-area: n;
  background-color: #6f87e7;
}

.content {
grid-area: c;
background-color: #79e8db;

}
.content img {
  height: 250px;
}